@font-face {
    font-family: "uicons-regular-rounded";
    src: url("/static/css/icons/flaticon/fonts/uicons-regular-rounded.eot") format("embedded-opentype"),
        url("/static/css/icons/flaticon/fonts/uicons-regular-rounded.woff2") format("woff2"),
        url("/static/css/icons/flaticon/fonts/uicons-regular-rounded.woff") format("woff");
}

i[class^="fi-rr-"]:before,
i[class*=" fi-rr-"]:before,
span[class^="fi-rr-"]:before,
span[class*="fi-rr-"]:before {
    font-family: uicons-regular-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fi-rr-add:before {
    content: "\f101";
}

.fi-rr-address-book:before {
    content: "\f102";
}

.fi-rr-alarm-clock:before {
    content: "\f103";
}

.fi-rr-align-center:before {
    content: "\f104";
}

.fi-rr-align-justify:before {
    content: "\f105";
}

.fi-rr-align-left:before {
    content: "\f106";
}

.fi-rr-align-right:before {
    content: "\f107";
}

.fi-rr-ambulance:before {
    content: "\f108";
}

.fi-rr-angle-circle-down:before {
    content: "\f109";
}

.fi-rr-angle-circle-left:before {
    content: "\f10a";
}

.fi-rr-angle-circle-right:before {
    content: "\f10b";
}

.fi-rr-angle-circle-up:before {
    content: "\f10c";
}

.fi-rr-angle-double-left:before {
    content: "\f10d";
}

.fi-rr-angle-double-right:before {
    content: "\f10e";
}

.fi-rr-angle-double-small-left:before {
    content: "\f10f";
}

.fi-rr-angle-double-small-right:before {
    content: "\f110";
}

.fi-rr-angle-down:before {
    content: "\f111";
}

.fi-rr-angle-left:before {
    content: "\f112";
}

.fi-rr-angle-right:before {
    content: "\f113";
}

.fi-rr-angle-small-down:before {
    content: "\f114";
}

.fi-rr-angle-small-left:before {
    content: "\f115";
}

.fi-rr-angle-small-right:before {
    content: "\f116";
}

.fi-rr-angle-small-up:before {
    content: "\f117";
}

.fi-rr-angle-square-down:before {
    content: "\f118";
}

.fi-rr-angle-square-left:before {
    content: "\f119";
}

.fi-rr-angle-square-right:before {
    content: "\f11a";
}

.fi-rr-angle-square-up:before {
    content: "\f11b";
}

.fi-rr-angle-up:before {
    content: "\f11c";
}

.fi-rr-angry:before {
    content: "\f11d";
}

.fi-rr-apple:before {
    content: "\f11e";
}

.fi-rr-apps-add:before {
    content: "\f11f";
}

.fi-rr-apps-delete:before {
    content: "\f120";
}

.fi-rr-apps-sort:before {
    content: "\f121";
}

.fi-rr-apps:before {
    content: "\f122";
}

.fi-rr-archive:before {
    content: "\f123";
}

.fi-rr-arrow-circle-down:before {
    content: "\f124";
}

.fi-rr-arrow-circle-left:before {
    content: "\f125";
}

.fi-rr-arrow-circle-right:before {
    content: "\f126";
}

.fi-rr-arrow-circle-up:before {
    content: "\f127";
}

.fi-rr-arrow-down:before {
    content: "\f128";
}

.fi-rr-arrow-from-bottom:before {
    content: "\f129";
}

.fi-rr-arrow-from-left:before {
    content: "\f12a";
}

.fi-rr-arrow-from-right:before {
    content: "\f12b";
}

.fi-rr-arrow-from-top:before {
    content: "\f12c";
}

.fi-rr-arrow-left:before {
    content: "\f12d";
}

.fi-rr-arrow-right:before {
    content: "\f12e";
}

.fi-rr-arrow-small-down:before {
    content: "\f12f";
}

.fi-rr-arrow-small-left:before {
    content: "\f130";
}

.fi-rr-arrow-small-right:before {
    content: "\f131";
}

.fi-rr-arrow-small-up:before {
    content: "\f132";
}

.fi-rr-arrow-square-down:before {
    content: "\f133";
}

.fi-rr-arrow-square-left:before {
    content: "\f134";
}

.fi-rr-arrow-square-right:before {
    content: "\f135";
}

.fi-rr-arrow-square-up:before {
    content: "\f136";
}

.fi-rr-arrow-to-bottom:before {
    content: "\f137";
}

.fi-rr-arrow-to-left:before {
    content: "\f138";
}

.fi-rr-arrow-to-right:before {
    content: "\f139";
}

.fi-rr-arrow-to-top:before {
    content: "\f13a";
}

.fi-rr-arrow-up:before {
    content: "\f13b";
}

.fi-rr-arrows-alt:before {
    content: "\f13c";
}

.fi-rr-arrows-h-copy:before {
    content: "\f13d";
}

.fi-rr-arrows-h:before {
    content: "\f13e";
}

.fi-rr-arrows:before {
    content: "\f13f";
}

.fi-rr-asterik:before {
    content: "\f140";
}

.fi-rr-at:before {
    content: "\f141";
}

.fi-rr-aubergine:before {
    content: "\f142";
}

.fi-rr-avocado:before {
    content: "\f143";
}

.fi-rr-backpack:before {
    content: "\f144";
}

.fi-rr-bacon:before {
    content: "\f145";
}

.fi-rr-badge:before {
    content: "\f146";
}

.fi-rr-balloons:before {
    content: "\f147";
}

.fi-rr-ban:before {
    content: "\f148";
}

.fi-rr-band-aid:before {
    content: "\f149";
}

.fi-rr-bank:before {
    content: "\f14a";
}

.fi-rr-barber-shop:before {
    content: "\f14b";
}

.fi-rr-baseball-bat:before {
    content: "\f14c";
}

.fi-rr-baseball:before {
    content: "\f14d";
}

.fi-rr-basketball-hoop:before {
    content: "\f14e";
}

.fi-rr-basketball:before {
    content: "\f14f";
}

.fi-rr-bed:before {
    content: "\f150";
}

.fi-rr-beer:before {
    content: "\f151";
}

.fi-rr-bell-ring:before {
    content: "\f152";
}

.fi-rr-bell-school:before {
    content: "\f153";
}

.fi-rr-bell:before {
    content: "\f154";
}

.fi-rr-bike:before {
    content: "\f155";
}

.fi-rr-billiard:before {
    content: "\f156";
}

.fi-rr-bold:before {
    content: "\f157";
}

.fi-rr-book-alt:before {
    content: "\f158";
}

.fi-rr-book:before {
    content: "\f159";
}

.fi-rr-bookmark:before {
    content: "\f15a";
}

.fi-rr-bottle:before {
    content: "\f15b";
}

.fi-rr-bow:before {
    content: "\f15c";
}

.fi-rr-bowling-ball:before {
    content: "\f15d";
}

.fi-rr-bowling-pins:before {
    content: "\f15e";
}

.fi-rr-bowling:before {
    content: "\f15f";
}

.fi-rr-box-alt:before {
    content: "\f160";
}

.fi-rr-box:before {
    content: "\f161";
}

.fi-rr-boxing-glove:before {
    content: "\f162";
}

.fi-rr-bread-slice:before {
    content: "\f163";
}

.fi-rr-bread:before {
    content: "\f164";
}

.fi-rr-briefcase:before {
    content: "\f165";
}

.fi-rr-broccoli:before {
    content: "\f166";
}

.fi-rr-broom:before {
    content: "\f167";
}

.fi-rr-browser:before {
    content: "\f168";
}

.fi-rr-brush:before {
    content: "\f169";
}

.fi-rr-bug:before {
    content: "\f16a";
}

.fi-rr-building:before {
    content: "\f16b";
}

.fi-rr-bulb:before {
    content: "\f16c";
}

.fi-rr-burrito:before {
    content: "\f16d";
}

.fi-rr-butterfly:before {
    content: "\f16e";
}

.fi-rr-cake-birthday:before {
    content: "\f16f";
}

.fi-rr-cake-wedding:before {
    content: "\f170";
}

.fi-rr-calculator:before {
    content: "\f171";
}

.fi-rr-calendar:before {
    content: "\f172";
}

.fi-rr-call-history:before {
    content: "\f173";
}

.fi-rr-call-incoming:before {
    content: "\f174";
}

.fi-rr-call-missed:before {
    content: "\f175";
}

.fi-rr-call-outgoing:before {
    content: "\f176";
}

.fi-rr-camera:before {
    content: "\f177";
}

.fi-rr-camping:before {
    content: "\f178";
}

.fi-rr-candy-alt:before {
    content: "\f179";
}

.fi-rr-candy:before {
    content: "\f17a";
}

.fi-rr-canned-food:before {
    content: "\f17b";
}

.fi-rr-car:before {
    content: "\f17c";
}

.fi-rr-caret-circle-down:before {
    content: "\f17d";
}

.fi-rr-caret-circle-right:before {
    content: "\f17e";
}

.fi-rr-caret-circle-up:before {
    content: "\f17f";
}

.fi-rr-caret-down:before {
    content: "\f180";
}

.fi-rr-caret-left:before {
    content: "\f181";
}

.fi-rr-caret-quare-up:before {
    content: "\f182";
}

.fi-rr-caret-right:before {
    content: "\f183";
}

.fi-rr-caret-square-down:before {
    content: "\f184";
}

.fi-rr-caret-square-left_1:before {
    content: "\f185";
}

.fi-rr-caret-square-left:before {
    content: "\f186";
}

.fi-rr-caret-square-right:before {
    content: "\f187";
}

.fi-rr-caret-up:before {
    content: "\f188";
}

.fi-rr-carrot:before {
    content: "\f189";
}

.fi-rr-chart-connected:before {
    content: "\f18a";
}

.fi-rr-chart-histogram:before {
    content: "\f18b";
}

.fi-rr-chart-network:before {
    content: "\f18c";
}

.fi-rr-chart-pie-alt:before {
    content: "\f18d";
}

.fi-rr-chart-pie:before {
    content: "\f18e";
}

.fi-rr-chart-pyramid:before {
    content: "\f18f";
}

.fi-rr-chart-set-theory:before {
    content: "\f190";
}

.fi-rr-chart-tree:before {
    content: "\f191";
}

.fi-rr-chat-arrow-down:before {
    content: "\f192";
}

.fi-rr-chat-arrow-grow:before {
    content: "\f193";
}

.fi-rr-check:before {
    content: "\f194";
}

.fi-rr-checkbox:before {
    content: "\f195";
}

.fi-rr-cheese:before {
    content: "\f196";
}

.fi-rr-cherry:before {
    content: "\f197";
}

.fi-rr-chess-board:before {
    content: "\f198";
}

.fi-rr-chess-piece:before {
    content: "\f199";
}

.fi-rr-chevron-double-down:before {
    content: "\f19a";
}

.fi-rr-chevron-double-up:before {
    content: "\f19b";
}

.fi-rr-child-head:before {
    content: "\f19c";
}

.fi-rr-chocolate:before {
    content: "\f19d";
}

.fi-rr-circle-small:before {
    content: "\f19e";
}

.fi-rr-circle:before {
    content: "\f19f";
}

.fi-rr-clip:before {
    content: "\f1a0";
}

.fi-rr-clock:before {
    content: "\f1a1";
}

.fi-rr-cloud-upload:before {
    content: "\f1a2";
}

.fi-rr-cloud-check:before {
    content: "\f1a3";
}

.fi-rr-cloud-disabled:before {
    content: "\f1a4";
}

.fi-rr-cloud-download:before {
    content: "\f1a5";
}

.fi-rr-cloud-share:before {
    content: "\f1a6";
}

.fi-rr-cloud:before {
    content: "\f1a7";
}

.fi-rr-clouds:before {
    content: "\f1a8";
}

.fi-rr-club:before {
    content: "\f1a9";
}

.fi-rr-cocktail-alt:before {
    content: "\f1aa";
}

.fi-rr-cocktail:before {
    content: "\f1ab";
}

.fi-rr-coffee-pot:before {
    content: "\f1ac";
}

.fi-rr-coffee:before {
    content: "\f1ad";
}

.fi-rr-comment-alt:before {
    content: "\f1ae";
}

.fi-rr-comment-check:before {
    content: "\f1af";
}

.fi-rr-comment-heart:before {
    content: "\f1b0";
}

.fi-rr-comment-info:before {
    content: "\f1b1";
}

.fi-rr-comment-user:before {
    content: "\f1b2";
}

.fi-rr-comment:before {
    content: "\f1b3";
}

.fi-rr-comments:before {
    content: "\f1b4";
}

.fi-rr-compress-alt:before {
    content: "\f1b5";
}

.fi-rr-compress:before {
    content: "\f1b6";
}

.fi-rr-computer:before {
    content: "\f1b7";
}

.fi-rr-confetti:before {
    content: "\f1b8";
}

.fi-rr-cookie:before {
    content: "\f1b9";
}

.fi-rr-copy-alt:before {
    content: "\f1ba";
}

.fi-rr-copy:before {
    content: "\f1bb";
}

.fi-rr-copyright:before {
    content: "\f1bc";
}

.fi-rr-corn:before {
    content: "\f1bd";
}

.fi-rr-cow:before {
    content: "\f1be";
}

.fi-rr-cream:before {
    content: "\f1bf";
}

.fi-rr-credit-card:before {
    content: "\f1c0";
}

.fi-rr-cricket:before {
    content: "\f1c1";
}

.fi-rr-croissant:before {
    content: "\f1c2";
}

.fi-rr-cross-circle:before {
    content: "\f1c3";
}

.fi-rr-cross-small:before {
    content: "\f1c4";
}

.fi-rr-cross:before {
    content: "\f1c5";
}

.fi-rr-crown:before {
    content: "\f1c6";
}

.fi-rr-cube:before {
    content: "\f1c7";
}

.fi-rr-cupcake:before {
    content: "\f1c8";
}

.fi-rr-curling:before {
    content: "\f1c9";
}

.fi-rr-cursor-finger:before {
    content: "\f1ca";
}

.fi-rr-cursor-plus:before {
    content: "\f1cb";
}

.fi-rr-cursor-text-alt:before {
    content: "\f1cc";
}

.fi-rr-cursor-text:before {
    content: "\f1cd";
}

.fi-rr-cursor:before {
    content: "\f1ce";
}

.fi-rr-dart:before {
    content: "\f1cf";
}

.fi-rr-dashboard:before {
    content: "\f1d0";
}

.fi-rr-data-transfer:before {
    content: "\f1d1";
}

.fi-rr-database:before {
    content: "\f1d2";
}

.fi-rr-delete:before {
    content: "\f1d3";
}

.fi-rr-diamond:before {
    content: "\f1d4";
}

.fi-rr-diploma:before {
    content: "\f1d5";
}

.fi-rr-disco-ball:before {
    content: "\f1d6";
}

.fi-rr-disk:before {
    content: "\f1d7";
}

.fi-rr-dizzy:before {
    content: "\f1d8";
}

.fi-rr-doctor:before {
    content: "\f1d9";
}

.fi-rr-document-signed:before {
    content: "\f1da";
}

.fi-rr-document:before {
    content: "\f1db";
}

.fi-rr-dollar:before {
    content: "\f1dc";
}

.fi-rr-download:before {
    content: "\f1dd";
}

.fi-rr-dreidel:before {
    content: "\f1de";
}

.fi-rr-drink-alt:before {
    content: "\f1df";
}

.fi-rr-drumstick:before {
    content: "\f1e0";
}

.fi-rr-duplicate:before {
    content: "\f1e1";
}

.fi-rr-e-learning:before {
    content: "\f1e2";
}

.fi-rr-earnings:before {
    content: "\f1e3";
}

.fi-rr-edit-alt:before {
    content: "\f1e4";
}

.fi-rr-edit:before {
    content: "\f1e5";
}

.fi-rr-egg-fried:before {
    content: "\f1e6";
}

.fi-rr-egg:before {
    content: "\f1e7";
}

.fi-rr-envelope-ban:before {
    content: "\f1e8";
}

.fi-rr-envelope-download:before {
    content: "\f1e9";
}

.fi-rr-envelope-marker:before {
    content: "\f1ea";
}

.fi-rr-envelope-open:before {
    content: "\f1eb";
}

.fi-rr-envelope-plus:before {
    content: "\f1ec";
}

.fi-rr-envelope:before {
    content: "\f1ed";
}

.fi-rr-euro:before {
    content: "\f1ee";
}

.fi-rr-exchange-alt:before {
    content: "\f1ef";
}

.fi-rr-exchange:before {
    content: "\f1f0";
}

.fi-rr-exclamation:before {
    content: "\f1f1";
}

.fi-rr-expand-arrows-alt:before {
    content: "\f1f2";
}

.fi-rr-expand-arrows:before {
    content: "\f1f3";
}

.fi-rr-expand:before {
    content: "\f1f4";
}

.fi-rr-eye-crossed:before {
    content: "\f1f5";
}

.fi-rr-eye-dropper:before {
    content: "\f1f6";
}

.fi-rr-eye:before {
    content: "\f1f7";
}

.fi-rr-feather:before {
    content: "\f1f8";
}

.fi-rr-ferris-wheel:before {
    content: "\f1f9";
}

.fi-rr-field-hockey:before {
    content: "\f1fa";
}

.fi-rr-file-add:before {
    content: "\f1fb";
}

.fi-rr-file-ai:before {
    content: "\f1fc";
}

.fi-rr-file-check:before {
    content: "\f1fd";
}

.fi-rr-file-delete:before {
    content: "\f1fe";
}

.fi-rr-file-eps:before {
    content: "\f1ff";
}

.fi-rr-file-gif:before {
    content: "\f200";
}

.fi-rr-file-music:before {
    content: "\f201";
}

.fi-rr-file-psd:before {
    content: "\f202";
}

.fi-rr-file:before {
    content: "\f203";
}

.fi-rr-fill:before {
    content: "\f204";
}

.fi-rr-film:before {
    content: "\f205";
}

.fi-rr-filter:before {
    content: "\f206";
}

.fi-rr-fingerprint:before {
    content: "\f207";
}

.fi-rr-fish:before {
    content: "\f208";
}

.fi-rr-flag:before {
    content: "\f209";
}

.fi-rr-flame:before {
    content: "\f20a";
}

.fi-rr-flip-horizontal:before {
    content: "\f20b";
}

.fi-rr-flower-bouquet:before {
    content: "\f20c";
}

.fi-rr-flower-tulip:before {
    content: "\f20d";
}

.fi-rr-flower:before {
    content: "\f20e";
}

.fi-rr-flushed:before {
    content: "\f20f";
}

.fi-rr-folder-add:before {
    content: "\f210";
}

.fi-rr-folder:before {
    content: "\f211";
}

.fi-rr-following:before {
    content: "\f212";
}

.fi-rr-football:before {
    content: "\f213";
}

.fi-rr-fork:before {
    content: "\f214";
}

.fi-rr-form:before {
    content: "\f215";
}

.fi-rr-forward:before {
    content: "\f216";
}

.fi-rr-fox:before {
    content: "\f217";
}

.fi-rr-french-fries:before {
    content: "\f218";
}

.fi-rr-frown:before {
    content: "\f219";
}

.fi-rr-ftp:before {
    content: "\f21a";
}

.fi-rr-gallery:before {
    content: "\f21b";
}

.fi-rr-game:before {
    content: "\f21c";
}

.fi-rr-gamepad:before {
    content: "\f21d";
}

.fi-rr-garlic:before {
    content: "\f21e";
}

.fi-rr-gas-pump:before {
    content: "\f21f";
}

.fi-rr-gem:before {
    content: "\f220";
}

.fi-rr-gift:before {
    content: "\f221";
}

.fi-rr-gingerbread-man:before {
    content: "\f222";
}

.fi-rr-glass-cheers:before {
    content: "\f223";
}

.fi-rr-glass:before {
    content: "\f224";
}

.fi-rr-glasses:before {
    content: "\f225";
}

.fi-rr-globe-alt:before {
    content: "\f226";
}

.fi-rr-globe:before {
    content: "\f227";
}

.fi-rr-golf-ball:before {
    content: "\f228";
}

.fi-rr-golf-club:before {
    content: "\f229";
}

.fi-rr-golf:before {
    content: "\f22a";
}

.fi-rr-graduation-cap:before {
    content: "\f22b";
}

.fi-rr-grape:before {
    content: "\f22c";
}

.fi-rr-graphic-tablet:before {
    content: "\f22d";
}

.fi-rr-grid-alt:before {
    content: "\f22e";
}

.fi-rr-grid:before {
    content: "\f22f";
}

.fi-rr-grill:before {
    content: "\f230";
}

.fi-rr-grimace:before {
    content: "\f231";
}

.fi-rr-grin-alt:before {
    content: "\f232";
}

.fi-rr-grin-beam-sweat:before {
    content: "\f233";
}

.fi-rr-grin-beam:before {
    content: "\f234";
}

.fi-rr-grin-hearts:before {
    content: "\f235";
}

.fi-rr-grin-squint-tears:before {
    content: "\f236";
}

.fi-rr-grin-squint:before {
    content: "\f237";
}

.fi-rr-grin-stars:before {
    content: "\f238";
}

.fi-rr-grin-tears:before {
    content: "\f239";
}

.fi-rr-grin-tongue-squint:before {
    content: "\f23a";
}

.fi-rr-grin-tongue-wink:before {
    content: "\f23b";
}

.fi-rr-grin-tongue:before {
    content: "\f23c";
}

.fi-rr-grin-wink:before {
    content: "\f23d";
}

.fi-rr-grin:before {
    content: "\f23e";
}

.fi-rr-guitar:before {
    content: "\f23f";
}

.fi-rr-gym:before {
    content: "\f240";
}

.fi-rr-hamburger-soda:before {
    content: "\f241";
}

.fi-rr-hamburger:before {
    content: "\f242";
}

.fi-rr-hand-holding-heart:before {
    content: "\f243";
}

.fi-rr-hastag:before {
    content: "\f244";
}

.fi-rr-hat-birthday:before {
    content: "\f245";
}

.fi-rr-hat-chef:before {
    content: "\f246";
}

.fi-rr-head-side-thinking:before {
    content: "\f247";
}

.fi-rr-headphones:before {
    content: "\f248";
}

.fi-rr-headset:before {
    content: "\f249";
}

.fi-rr-heart-arrow:before {
    content: "\f24a";
}

.fi-rr-heart:before {
    content: "\f24b";
}

.fi-rr-hiking:before {
    content: "\f24c";
}

.fi-rr-hockey-mask:before {
    content: "\f24d";
}

.fi-rr-hockey-puck:before {
    content: "\f24e";
}

.fi-rr-hockey-sticks:before {
    content: "\f24f";
}

.fi-rr-home-location-alt:before {
    content: "\f250";
}

.fi-rr-home-location:before {
    content: "\f251";
}

.fi-rr-home:before {
    content: "\f252";
}

.fi-rr-hotdog:before {
    content: "\f253";
}

.fi-rr-hourglass-end:before {
    content: "\f254";
}

.fi-rr-hourglass:before {
    content: "\f255";
}

.fi-rr-ice-cream:before {
    content: "\f256";
}

.fi-rr-ice-skate:before {
    content: "\f257";
}

.fi-rr-id-badge:before {
    content: "\f258";
}

.fi-rr-inbox:before {
    content: "\f259";
}

.fi-rr-incognito:before {
    content: "\f25a";
}

.fi-rr-indent:before {
    content: "\f25b";
}

.fi-rr-infinity:before {
    content: "\f25c";
}

.fi-rr-info:before {
    content: "\f25d";
}

.fi-rr-interactive:before {
    content: "\f25e";
}

.fi-rr-interlining:before {
    content: "\f25f";
}

.fi-rr-interrogation:before {
    content: "\f260";
}

.fi-rr-italic:before {
    content: "\f261";
}

.fi-rr-jam:before {
    content: "\f262";
}

.fi-rr-jpg:before {
    content: "\f263";
}

.fi-rr-key:before {
    content: "\f264";
}

.fi-rr-keyboard:before {
    content: "\f265";
}

.fi-rr-kiss-beam:before {
    content: "\f266";
}

.fi-rr-kiss-wink-heart:before {
    content: "\f267";
}

.fi-rr-kiss:before {
    content: "\f268";
}

.fi-rr-kite:before {
    content: "\f269";
}

.fi-rr-knife:before {
    content: "\f26a";
}

.fi-rr-label:before {
    content: "\f26b";
}

.fi-rr-laptop:before {
    content: "\f26c";
}

.fi-rr-lasso:before {
    content: "\f26d";
}

.fi-rr-laugh-beam:before {
    content: "\f26e";
}

.fi-rr-laugh-squint:before {
    content: "\f26f";
}

.fi-rr-laugh-wink:before {
    content: "\f270";
}

.fi-rr-laugh:before {
    content: "\f271";
}

.fi-rr-layers:before {
    content: "\f272";
}

.fi-rr-layout-fluid:before {
    content: "\f273";
}

.fi-rr-leaf:before {
    content: "\f274";
}

.fi-rr-lemon:before {
    content: "\f275";
}

.fi-rr-letter-case:before {
    content: "\f276";
}

.fi-rr-lettuce:before {
    content: "\f277";
}

.fi-rr-level-down-alt:before {
    content: "\f278";
}

.fi-rr-level-down:before {
    content: "\f279";
}

.fi-rr-level-up-alt:before {
    content: "\f27a";
}

.fi-rr-level-up:before {
    content: "\f27b";
}

.fi-rr-life-ring:before {
    content: "\f27c";
}

.fi-rr-line-width:before {
    content: "\f27d";
}

.fi-rr-link:before {
    content: "\f27e";
}

.fi-rr-lipstick:before {
    content: "\f27f";
}

.fi-rr-list-check:before {
    content: "\f280";
}

.fi-rr-list:before {
    content: "\f281";
}

.fi-rr-location-alt:before {
    content: "\f282";
}

.fi-rr-lock-alt:before {
    content: "\f283";
}

.fi-rr-lock:before {
    content: "\f284";
}

.fi-rr-luggage-rolling:before {
    content: "\f285";
}

.fi-rr-magic-wand:before {
    content: "\f286";
}

.fi-rr-makeup-brush:before {
    content: "\f287";
}

.fi-rr-man-head:before {
    content: "\f288";
}

.fi-rr-map-marker-cross:before {
    content: "\f289";
}

.fi-rr-map-marker-home:before {
    content: "\f28a";
}

.fi-rr-map-marker-minus:before {
    content: "\f28b";
}

.fi-rr-map-marker-plus:before {
    content: "\f28c";
}

.fi-rr-map-marker:before {
    content: "\f28d";
}

.fi-rr-map:before {
    content: "\f28e";
}

.fi-rr-marker-time:before {
    content: "\f28f";
}

.fi-rr-marker:before {
    content: "\f290";
}

.fi-rr-mars-double:before {
    content: "\f291";
}

.fi-rr-mars:before {
    content: "\f292";
}

.fi-rr-mask-carnival:before {
    content: "\f293";
}

.fi-rr-mask:before {
    content: "\f294";
}

.fi-rr-medicine:before {
    content: "\f295";
}

.fi-rr-megaphone:before {
    content: "\f296";
}

.fi-rr-meh-blank:before {
    content: "\f297";
}

.fi-rr-meh-rolling-eyes:before {
    content: "\f298";
}

.fi-rr-meh:before {
    content: "\f299";
}

.fi-rr-melon:before {
    content: "\f29a";
}

.fi-rr-menu-burger:before {
    content: "\f29b";
}

.fi-rr-menu-dots-vertical:before {
    content: "\f29c";
}

.fi-rr-menu-dots:before {
    content: "\f29d";
}

.fi-rr-microphone-alt:before {
    content: "\f29e";
}

.fi-rr-microphone:before {
    content: "\f29f";
}

.fi-rr-minus-small:before {
    content: "\f2a0";
}

.fi-rr-minus:before {
    content: "\f2a1";
}

.fi-rr-mobile:before {
    content: "\f2a2";
}

.fi-rr-mode-landscape:before {
    content: "\f2a3";
}

.fi-rr-mode-portrait:before {
    content: "\f2a4";
}

.fi-rr-money:before {
    content: "\f2a5";
}

.fi-rr-moon:before {
    content: "\f2a6";
}

.fi-rr-mountains:before {
    content: "\f2a7";
}

.fi-rr-mouse:before {
    content: "\f2a8";
}

.fi-rr-mug-alt:before {
    content: "\f2a9";
}

.fi-rr-mug-hot-alt:before {
    content: "\f2aa";
}

.fi-rr-mug-hot:before {
    content: "\f2ab";
}

.fi-rr-mug-tea:before {
    content: "\f2ac";
}

.fi-rr-mug:before {
    content: "\f2ad";
}

.fi-rr-mushroom:before {
    content: "\f2ae";
}

.fi-rr-music-alt:before {
    content: "\f2af";
}

.fi-rr-music:before {
    content: "\f2b0";
}

.fi-rr-navigation:before {
    content: "\f2b1";
}

.fi-rr-network-cloud:before {
    content: "\f2b2";
}

.fi-rr-network:before {
    content: "\f2b3";
}

.fi-rr-noodles:before {
    content: "\f2b4";
}

.fi-rr-notebook:before {
    content: "\f2b5";
}

.fi-rr-olive-oil:before {
    content: "\f2b6";
}

.fi-rr-olives:before {
    content: "\f2b7";
}

.fi-rr-onion:before {
    content: "\f2b8";
}

.fi-rr-opacity:before {
    content: "\f2b9";
}

.fi-rr-package:before {
    content: "\f2ba";
}

.fi-rr-paint-brush:before {
    content: "\f2bb";
}

.fi-rr-palette:before {
    content: "\f2bc";
}

.fi-rr-pan:before {
    content: "\f2bd";
}

.fi-rr-paper-plane:before {
    content: "\f2be";
}

.fi-rr-password:before {
    content: "\f2bf";
}

.fi-rr-pause:before {
    content: "\f2c0";
}

.fi-rr-paw:before {
    content: "\f2c1";
}

.fi-rr-peach:before {
    content: "\f2c2";
}

.fi-rr-pencil:before {
    content: "\f2c3";
}

.fi-rr-pennant:before {
    content: "\f2c4";
}

.fi-rr-pepper-hot:before {
    content: "\f2c5";
}

.fi-rr-pepper:before {
    content: "\f2c6";
}

.fi-rr-pharmacy:before {
    content: "\f2c7";
}

.fi-rr-phone-call:before {
    content: "\f2c8";
}

.fi-rr-phone-cross:before {
    content: "\f2c9";
}

.fi-rr-phone-pause:before {
    content: "\f2ca";
}

.fi-rr-phone-slash:before {
    content: "\f2cb";
}

.fi-rr-physics:before {
    content: "\f2cc";
}

.fi-rr-picnic:before {
    content: "\f2cd";
}

.fi-rr-picture:before {
    content: "\f2ce";
}

.fi-rr-pie:before {
    content: "\f2cf";
}

.fi-rr-pineapple:before {
    content: "\f2d0";
}

.fi-rr-ping-pong:before {
    content: "\f2d1";
}

.fi-rr-pizza-slice:before {
    content: "\f2d2";
}

.fi-rr-plane:before {
    content: "\f2d3";
}

.fi-rr-plate:before {
    content: "\f2d4";
}

.fi-rr-play-alt:before {
    content: "\f2d5";
}

.fi-rr-play:before {
    content: "\f2d6";
}

.fi-rr-playing-cards:before {
    content: "\f2d7";
}

.fi-rr-plus-small:before {
    content: "\f2d8";
}

.fi-rr-plus:before {
    content: "\f2d9";
}

.fi-rr-poker-chip:before {
    content: "\f2da";
}

.fi-rr-poo:before {
    content: "\f2db";
}

.fi-rr-popcorn:before {
    content: "\f2dc";
}

.fi-rr-portrait:before {
    content: "\f2dd";
}

.fi-rr-pot:before {
    content: "\f2de";
}

.fi-rr-pound:before {
    content: "\f2df";
}

.fi-rr-power:before {
    content: "\f2e0";
}

.fi-rr-presentation:before {
    content: "\f2e1";
}

.fi-rr-print:before {
    content: "\f2e2";
}

.fi-rr-protractor:before {
    content: "\f2e3";
}

.fi-rr-pulse:before {
    content: "\f2e4";
}

.fi-rr-pumpkin:before {
    content: "\f2e5";
}

.fi-rr-puzzle-piece:before {
    content: "\f2e6";
}

.fi-rr-pyramid:before {
    content: "\f2e7";
}

.fi-rr-quote-right:before {
    content: "\f2e8";
}

.fi-rr-radish:before {
    content: "\f2e9";
}

.fi-rr-rainbow:before {
    content: "\f2ea";
}

.fi-rr-raindrops:before {
    content: "\f2eb";
}

.fi-rr-raquet:before {
    content: "\f2ec";
}

.fi-rr-rec:before {
    content: "\f2ed";
}

.fi-rr-receipt:before {
    content: "\f2ee";
}

.fi-rr-record-vinyl:before {
    content: "\f2ef";
}

.fi-rr-rectabgle-vertical:before {
    content: "\f2f0";
}

.fi-rr-rectangle-horizontal:before {
    content: "\f2f1";
}

.fi-rr-rectangle-panoramic:before {
    content: "\f2f2";
}

.fi-rr-recycle:before {
    content: "\f2f3";
}

.fi-rr-redo-alt:before {
    content: "\f2f4";
}

.fi-rr-redo:before {
    content: "\f2f5";
}

.fi-rr-reflect:before {
    content: "\f2f6";
}

.fi-rr-refresh:before {
    content: "\f2f7";
}

.fi-rr-resize:before {
    content: "\f2f8";
}

.fi-rr-resources:before {
    content: "\f2f9";
}

.fi-rr-restaurant:before {
    content: "\f2fa";
}

.fi-rr-rewind:before {
    content: "\f2fb";
}

.fi-rr-rhombus:before {
    content: "\f2fc";
}

.fi-rr-rings-wedding:before {
    content: "\f2fd";
}

.fi-rr-road:before {
    content: "\f2fe";
}

.fi-rr-rocket:before {
    content: "\f2ff";
}

.fi-rr-room-service:before {
    content: "\f300";
}

.fi-rr-rotate-right:before {
    content: "\f301";
}

.fi-rr-rugby-helmet:before {
    content: "\f302";
}

.fi-rr-rugby:before {
    content: "\f303";
}

.fi-rr-running:before {
    content: "\f304";
}

.fi-rr-sad-cry:before {
    content: "\f305";
}

.fi-rr-sad-tear:before {
    content: "\f306";
}

.fi-rr-sad:before {
    content: "\f307";
}

.fi-rr-salad:before {
    content: "\f308";
}

.fi-rr-salt-pepper:before {
    content: "\f309";
}

.fi-rr-sandwich:before {
    content: "\f30a";
}

.fi-rr-sauce:before {
    content: "\f30b";
}

.fi-rr-sausage:before {
    content: "\f30c";
}

.fi-rr-scale:before {
    content: "\f30d";
}

.fi-rr-school-bus:before {
    content: "\f30e";
}

.fi-rr-school:before {
    content: "\f30f";
}

.fi-rr-scissors:before {
    content: "\f310";
}

.fi-rr-screen:before {
    content: "\f311";
}

.fi-rr-search-alt:before {
    content: "\f312";
}

.fi-rr-search-heart:before {
    content: "\f313";
}

.fi-rr-search:before {
    content: "\f314";
}

.fi-rr-settings-sliders:before {
    content: "\f315";
}

.fi-rr-settings:before {
    content: "\f316";
}

.fi-rr-share:before {
    content: "\f317";
}

.fi-rr-shield-check:before {
    content: "\f318";
}

.fi-rr-shield-exclamation:before {
    content: "\f319";
}

.fi-rr-shield-interrogation:before {
    content: "\f31a";
}

.fi-rr-shield-plus:before {
    content: "\f31b";
}

.fi-rr-shield:before {
    content: "\f31c";
}

.fi-rr-ship-side:before {
    content: "\f31d";
}

.fi-rr-ship:before {
    content: "\f31e";
}

.fi-rr-shop:before {
    content: "\f31f";
}

.fi-rr-shopping-bag-add:before {
    content: "\f320";
}

.fi-rr-shopping-bag:before {
    content: "\f321";
}

.fi-rr-shopping-cart-add:before {
    content: "\f322";
}

.fi-rr-shopping-cart-check:before {
    content: "\f323";
}

.fi-rr-shopping-cart:before {
    content: "\f324";
}

.fi-rr-shrimp:before {
    content: "\f325";
}

.fi-rr-shuffle:before {
    content: "\f326";
}

.fi-rr-shuttlecock:before {
    content: "\f327";
}

.fi-rr-sign-in-alt:before {
    content: "\f328";
}

.fi-rr-sign-in:before {
    content: "\f329";
}

.fi-rr-sign-out-alt:before {
    content: "\f32a";
}

.fi-rr-sign-out:before {
    content: "\f32b";
}

.fi-rr-signal-alt-1:before {
    content: "\f32c";
}

.fi-rr-signal-alt-2:before {
    content: "\f32d";
}

.fi-rr-signal-alt:before {
    content: "\f32e";
}

.fi-rr-skateboard:before {
    content: "\f32f";
}

.fi-rr-skating:before {
    content: "\f330";
}

.fi-rr-skewer:before {
    content: "\f331";
}

.fi-rr-ski:before {
    content: "\f332";
}

.fi-rr-skii:before {
    content: "\f333";
}

.fi-rr-skiing:before {
    content: "\f334";
}

.fi-rr-sledding:before {
    content: "\f335";
}

.fi-rr-smartphone:before {
    content: "\f336";
}

.fi-rr-smile-beam:before {
    content: "\f337";
}

.fi-rr-smile-wink:before {
    content: "\f338";
}

.fi-rr-smile:before {
    content: "\f339";
}

.fi-rr-snowboarding:before {
    content: "\f33a";
}

.fi-rr-snowflake:before {
    content: "\f33b";
}

.fi-rr-soap:before {
    content: "\f33c";
}

.fi-rr-sort:before {
    content: "\f33d";
}

.fi-rr-soup:before {
    content: "\f33e";
}

.fi-rr-spa:before {
    content: "\f33f";
}

.fi-rr-spade:before {
    content: "\f340";
}

.fi-rr-speaker:before {
    content: "\f341";
}

.fi-rr-sphere:before {
    content: "\f342";
}

.fi-rr-spinner-alt:before {
    content: "\f343";
}

.fi-rr-spinner:before {
    content: "\f344";
}

.fi-rr-spoon:before {
    content: "\f345";
}

.fi-rr-square-root:before {
    content: "\f346";
}

.fi-rr-square:before {
    content: "\f347";
}

.fi-rr-star-octogram:before {
    content: "\f348";
}

.fi-rr-star:before {
    content: "\f349";
}

.fi-rr-stats:before {
    content: "\f34a";
}

.fi-rr-steak:before {
    content: "\f34b";
}

.fi-rr-stethoscope:before {
    content: "\f34c";
}

.fi-rr-sticker:before {
    content: "\f34d";
}

.fi-rr-stop:before {
    content: "\f34e";
}

.fi-rr-stopwatch:before {
    content: "\f34f";
}

.fi-rr-strawberry:before {
    content: "\f350";
}

.fi-rr-subtitles:before {
    content: "\f351";
}

.fi-rr-sun:before {
    content: "\f352";
}

.fi-rr-sunrise:before {
    content: "\f353";
}

.fi-rr-surfing:before {
    content: "\f354";
}

.fi-rr-surprise:before {
    content: "\f355";
}

.fi-rr-sushi:before {
    content: "\f356";
}

.fi-rr-swimmer:before {
    content: "\f357";
}

.fi-rr-sword:before {
    content: "\f358";
}

.fi-rr-syringe:before {
    content: "\f359";
}

.fi-rr-tablet:before {
    content: "\f35a";
}

.fi-rr-taco:before {
    content: "\f35b";
}

.fi-rr-target:before {
    content: "\f35c";
}

.fi-rr-taxi:before {
    content: "\f35d";
}

.fi-rr-tennis:before {
    content: "\f35e";
}

.fi-rr-terrace:before {
    content: "\f35f";
}

.fi-rr-test-tube:before {
    content: "\f360";
}

.fi-rr-test:before {
    content: "\f361";
}

.fi-rr-text-check:before {
    content: "\f362";
}

.fi-rr-text:before {
    content: "\f363";
}

.fi-rr-thermometer-half:before {
    content: "\f364";
}

.fi-rr-thumbs-down:before {
    content: "\f365";
}

.fi-rr-thumbs-up:before {
    content: "\f366";
}

.fi-rr-thumbtack:before {
    content: "\f367";
}

.fi-rr-ticket:before {
    content: "\f368";
}

.fi-rr-time-add:before {
    content: "\f369";
}

.fi-rr-time-check:before {
    content: "\f36a";
}

.fi-rr-time-delete:before {
    content: "\f36b";
}

.fi-rr-time-fast:before {
    content: "\f36c";
}

.fi-rr-time-forward-sixty:before {
    content: "\f36d";
}

.fi-rr-time-forward-ten:before {
    content: "\f36e";
}

.fi-rr-time-forward:before {
    content: "\f36f";
}

.fi-rr-time-half-past:before {
    content: "\f370";
}

.fi-rr-time-oclock:before {
    content: "\f371";
}

.fi-rr-time-past:before {
    content: "\f372";
}

.fi-rr-time-quarter-to:before {
    content: "\f373";
}

.fi-rr-time-quarter-past:before {
    content: "\f374";
}

.fi-rr-time-twenty-four:before {
    content: "\f375";
}

.fi-rr-tired:before {
    content: "\f376";
}

.fi-rr-tomato:before {
    content: "\f377";
}

.fi-rr-tool-crop:before {
    content: "\f378";
}

.fi-rr-tool-marquee:before {
    content: "\f379";
}

.fi-rr-tooth:before {
    content: "\f37a";
}

.fi-rr-tornado:before {
    content: "\f37b";
}

.fi-rr-train-side:before {
    content: "\f37c";
}

.fi-rr-train:before {
    content: "\f37d";
}

.fi-rr-transform:before {
    content: "\f37e";
}

.fi-rr-trash:before {
    content: "\f37f";
}

.fi-rr-treatment:before {
    content: "\f380";
}

.fi-rr-tree-christmas:before {
    content: "\f381";
}

.fi-rr-tree:before {
    content: "\f382";
}

.fi-rr-triangle:before {
    content: "\f383";
}

.fi-rr-trophy:before {
    content: "\f384";
}

.fi-rr-truck-side:before {
    content: "\f385";
}

.fi-rr-turkey:before {
    content: "\f386";
}

.fi-rr-umbrella:before {
    content: "\f387";
}

.fi-rr-underline:before {
    content: "\f388";
}

.fi-rr-undo-alt:before {
    content: "\f389";
}

.fi-rr-undo:before {
    content: "\f38a";
}

.fi-rr-unlock:before {
    content: "\f38b";
}

.fi-rr-upload:before {
    content: "\f38c";
}

.fi-rr-usb-pendrive:before {
    content: "\f38d";
}

.fi-rr-user-add:before {
    content: "\f38e";
}

.fi-rr-user-delete:before {
    content: "\f38f";
}

.fi-rr-user-remove:before {
    content: "\f390";
}

.fi-rr-user-time:before {
    content: "\f391";
}

.fi-rr-user:before {
    content: "\f392";
}

.fi-rr-utensils:before {
    content: "\f393";
}

.fi-rr-vector-alt:before {
    content: "\f394";
}

.fi-rr-vector:before {
    content: "\f395";
}

.fi-rr-venus-double:before {
    content: "\f396";
}

.fi-rr-venus-mars:before {
    content: "\f397";
}

.fi-rr-venus:before {
    content: "\f398";
}

.fi-rr-video-camera:before {
    content: "\f399";
}

.fi-rr-volleyball:before {
    content: "\f39a";
}

.fi-rr-volume:before {
    content: "\f39b";
}

.fi-rr-water-bottle:before {
    content: "\f39c";
}

.fi-rr-watermelon:before {
    content: "\f39d";
}

.fi-rr-wheat:before {
    content: "\f39e";
}

.fi-rr-wheelchair:before {
    content: "\f39f";
}

.fi-rr-whistle:before {
    content: "\f3a0";
}

.fi-rr-wifi-alt:before {
    content: "\f3a1";
}

.fi-rr-wind:before {
    content: "\f3a2";
}

.fi-rr-woman-head:before {
    content: "\f3a3";
}

.fi-rr-world:before {
    content: "\f3a4";
}

.fi-rr-yen:before {
    content: "\f3a5";
}

.fi-rr-zoom-in:before {
    content: "\f3a6";
}

.fi-rr-zoom-out:before {
    content: "\f3a7";
}